/* style.css */

body {
  font: 16px/1.5 sans-serif;
}

div {
  width: 200px;
  height: 200px;
  background-color: rgb(242,87,30);
}

section {
  width: 600px;
  border: 1px, solid #222;
}

#box01 {
  float: left;
  margin-bottom: 130px;
}

#box02 {
  float: right;
  margin-top: 180px;

}

#box03 {
  float: left;
  margin-top: 100px;
  margin-right: 40px;
}

.clear-me {
  clear: both;
}
